[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EDE"]
	path = EDE
	url = https://github.com/rodrigosqrt3/ede
[submodule "Rtwalk"]
	path = Rtwalk
	url = https://github.com/rodrigosqrt3/rtwalk
[submodule "margEVT"]
	path = margEVT
	url = https://github.com/rodrigosqrt3/margevt
[submodule "rmet"]
	path = rmet
	url = https://github.com/rodrigosqrt3/rmet
[submodule "taxodist"]
	path = taxodist
	url = https://github.com/rodrigosqrt3/taxodist
